@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 430px;
}
.navbar-brand h1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: .5rem;
}

#map {
    width: 100%;
    height: 88%;
    display: flex;
}
.h1-page-name{
    padding: 0;
    margin: 0;
    display: inline-block;
}


.h1-page-name:hover{
    text-decoration: none;
    text-decoration-color: white;
    color:white;
    padding: 0; 
    margin: 0;
    text-align: left;
}

.logo-img{
    margin:0;
    padding: 0;
    margin-right: 10px;
    display: inline-block;
    vertical-align: center;
    width: 18px;
    height: 20px;
    margin-bottom:2px;
}

/* Map */
#map
	.info { 
        padding: 6px 8px; 
        font: 17px/19px Arial, Helvetica, sans-serif; 
        background: white; background: rgba(255,255,255,0.8); 
        box-shadow: 0 0 15px rgba(0,0,0,0.2); 
        border-radius: 5px; 
    } 
    .info h4 { 
        margin: 0 0 5px; 
        color: #777; 
    }
	.legend { 
        text-align: left; 
        line-height: 18px;  
        color: #555; 
    } 
    .legend i { 
        width: 18px; 
        height: 18px; 
        float: left; 
        margin-right: 3px; 
        opacity: 0.7; 
        clear: both;
    }


/* Side bar */
.lorem {
    font-style: italic;
    color: #AAA;
}

.navbar{
    background-color:white;

}
.sidebar-section-text{
    border-bottom-style: solid;
    border-bottom-width: .01rem;
    border-bottom-color: #c7c8ca;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* ******************************** */
/* Navbar Modules                   */
/* Search bar, date forms, update   */
/* ******************************** */
.h1-page-name{
    font-size: 18px;
    font-weight: 300;
    color:white; 
    padding-bottom:0px;
    margin-bottom:0px;
}


/* Button(s) */
.btn-update{
    background-color: #fdb515;
    border-style: none;
    border-radius: 5px;
    height:2.4rem;
    width:12rem;
    color:black;
}

button:disabled{
	background-color: grey;
}
