<!DOCTYPE html>
<html>
<head>
	
	<title>Group 7 Map</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>#map { width: 1200px; height: 700px; }
	.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
	.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>
</head>
<body>

	<nav class="navbar navbar-dark justify-content-between" style="background-color: #e3f2fd;">
		<a class="navbar-brand">Covid Dashboard</a>
		<form class="form-inline">
			<button class="btn btn-info" type="button">Vaccination Metrics</button>
			<button class="btn btn-warning" type="button">Infection Metrics</button>
		</form>
		<form class="form-inline">
		  	<input class="form-control mr-sm-2" type="search" placeholder="Search for County" aria-label="Search">
		  	<button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
		</form>
		<form action="/" class="form-inline">
			<label for="start">
				Date:&nbsp;
				<input onchange="this.form.submit()" type="date" id="start" name="chosenDate" value="{{date}}" min="2021-11-01" max="2021-11-07">
			</label>
		</form>
	</nav>
	


<div id='map' style="margin:auto"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='us-states.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='us-counties.js') }}"></script>

<script type="text/javascript">
	var state
	var map = L.map('map').setView([37.8, -96], 4);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/light-v9',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);


	// control that shows state info on hover
	var info = L.control();

	info.onAdd = function (map) {
		this._div = L.DomUtil.create('div', 'info');
		this.update();
		return this._div;
	};

	info.update = function (props) {
		if(typeof props !== 'undefined'){
			if (props.hasOwnProperty('STATE')){
				fips = props.STATE + props.COUNTY
				this._div.innerHTML = data['table'] + ' Rate<br />'+  (props ?
				'<b> ' + props.name + '</b><br />' + data[fips] + ' people / day'
				: 'Hover over a county');
			}
			else{
				this._div.innerHTML = 'Hover over a county';
			}
		}
	};

	info.addTo(map);


	// get color depending on population density value
	function getColor(d) {
		return d > 1000 ? '#800026' :
				d > 500  ? '#BD0026' :
				d > 100  ? '#E31A1C' :
				d > 50  ? '#FC4E2A' :
				d > 20   ? '#FD8D3C' :
				d > 10   ? '#FEB24C' :
				d > 5   ? '#FED976' :
							'#FFEDA0';
	}


	function style(feature) {
		fips = feature.properties.STATE + feature.properties.COUNTY
		return {
			opacity: 1,
			weight: 2,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(data[fips])
		};
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 5,
			//color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

		info.update(layer.feature.properties);
	}

	var geojson;

	function resetHighlight(e) {
		geojson.resetStyle(e.target);
		info.update();
	}

	function zoomToFeature(e) {
		//console.log("e");
		map.fitBounds(e.target.getBounds());	
	}

	function zoomFromFeature(e) {
		map.setZoom(4);
		map.setView([37.8, -96], 4);
	}

	var data

	function update(s_feature){
		$.ajax({
			url: '/geojson-features',
			data: {state: s_feature.id},
			success : function(result){
				data = result.data
				//console.log(s_feature.id);
				//console.log(result.data);
				geojson2 = L.geoJson(countiesData, {
					filter: function(feature, layer) {
						return feature.properties.STATE == s_feature.id
					},
					style: style,
					onEachFeature: onEachFeature2,
					
				}).addTo(map);
			}
		});
	}

	function onEachFeature2(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight2,
			contextmenu: zoomFromFeature,
		});
	}

	function resetHighlight2(e) {
		geojson2.resetStyle(e.target);
		info.update();
	}

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			contextmenu: zoomFromFeature,
			click: function(event){resetHighlight(event); update(feature); zoomToFeature(event); showLayers(); map.removeLayer(geojson2); map.removeLayer(layer); }
			//click: layer.setStyle({fillColor :'blue'})
		});
	}

	function hideLayers (){
	  this.layer.eachLayer(function(layer){
		if(layer.feature.id == '24'){
		  map.removeLayer(layer);
		}
	  });
	}

	function showLayers (){
		geojson.eachLayer(function(layer){
			map.addLayer(layer);
		});
	}
 
	geojson = L.geoJson(statesData, {
		style: {fillColor :'blue'},
		onEachFeature: onEachFeature
	}).addTo(map);
	
	map.attributionControl.addAttribution('COVID-19 data &copy; <a href="https://www.cdc.gov">CDC</a> and <a href="https://nytimes.com">NY Times</a>');

	var legend = L.control({position: 'bottomright'});

	legend.onAdd = function (map) {

		var div = L.DomUtil.create('div', 'info legend'),
			grades = [0, 10, 20, 50, 100, 200, 500, 1000],
			labels = [],
			from, to;

		for (var i = 0; i < grades.length; i++) {
			from = grades[i];
			to = grades[i + 1];

			labels.push(
				'<i style="background:' + getColor(from + 1) + '"></i> ' +
				from + (to ? '&ndash;' + to : '+'));
		}

		div.innerHTML = labels.join('<br>');
		return div;
	};

	legend.addTo(map);

</script>



</body>
</html>
